.dashboard-body-top-content {
  .card {
    border: none;
    // align-items: center;
    width: 100%;
    .card-body {
      * {
        align-items: center;
        button {
          border: none;
          background: #4eb94d;
          color: #fff;
          padding: 8px 20px;
          border-radius: 10px;
        }
      }
    }
  }
}
